/src/*.o
/src/vmi-honeymon
/src/.deps
/src/Makefile
/src/Makefile.in
/src/gmon.out
/tools/*.o
/tools/magic_test_file
/tools/Makefile
/tools/Makefile.in
/m4/Makefile
/m4/Makefile.in
/config.h.in
/aclocal.m4
/configure
/Makefile
/Makefile.in
/stamp-h1
/autom4te.cache
/config.h.in
